@import "tailwindcss";

@theme {
    --color-navy: #1E3A8A;
    --color-teal: #0891B2;
    --color-gold: #F59E0B;
    
    --font-heading: 'Playfair Display', serif;
    --font-body: 'Inter', sans-serif;
}

